<a href="https://colab.research.google.com/github/nugi1209/Accenture_Data_Analytics_Virtual_Experience/blob/main/Data_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("https://github.com/nugi1209/Accenture_Data_Analytics_Virtual_Experience/blob/main/Task1RevisedCsv.csv?raw=true", delimiter = ";")
df.head()

                             content_id reaction_type  ...  category content_type
0  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  ...  studying        photo
1  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  ...  studying        photo
2  97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike  ...  studying        photo
3  97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  ...  studying        photo
4  97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  ...  studying        photo

[5 rows x 8 columns]